@page
@model IndexModel
@{
    ViewData["Title"] = "SpotNLog";
}

<div class="jumbotron jumbotron-fluid" id="chef-jumbotron">


    <h1>Trains | Singapore</h1>
    <p>A place for you to log your spotting</p>
</div>




    <div class="col">
        <h2>Recent spotting records</h2>
        <hr>
        <!-- Page model properties displayed here -->
        <div class="blog-post">

            @foreach (var trainsetLog in Model.TrainsetLogs)

            {
                <p class="description">@trainsetLog.DisplayTrainset</p>    
                <p class="description">@trainsetLog.RollingStock</p>

            
            }

               <form method="post">
  <div class="form-group row">  
            <div class="col-4"> 
                <label asp-for="TrainsetLog.Trainset"></label>  
            </div>  
            <div class="col-6">  
                <input asp-for="TrainsetLog.Trainset" class="form-control" />  
            </div>  
              <div class="form-group row">  
            <div class="col-3 offset-4">  
                <input type="submit" value="Create" class="btn btn-primary form-control" />  
            </div>  
        </div>  
  </form>

             


            
        </div>

        </div>


    </div>

