@page
@model IndexModel
@{
    ViewData["Title"] = "SpotNLog";
}

<div class="jumbotron jumbotron-fluid" id="chef-jumbotron">


    <h1>Trains | Singapore</h1>
    <p>A place for you to log your spotting</p>
</div>




    <div class="col">
        <h2>Recent spotting records</h2>
        <hr>
        <!-- Page model properties displayed here -->
        <div class="blog-post">

            @foreach (var trainsetLog in Model.TrainsetLogs)

            {
                <p class="description">@trainsetLog.DisplayTrainset</p>    
                <p class="description">@trainsetLog.RollingStock</p>
            
            }



            
        </div>

        </div>


    </div>

